body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .Photo{
    width: 50%;
    height: 612px !important;
    padding: 100px 50px 0px;
  }
  .Photo2{
    width: 50%;
    height: 612px !important;
    padding: 100px 50px 0px;
  }


  .text-photo p{
    
    line-height: 1.5em;
    word-spacing: 4.2px;
    font-size: 18px !important;

  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .background-About {
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1522673607200-164d1b6ce486?auto=format&fit=crop&q=80&w=1740&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-size: bold;
    color: #000000;
    /* text-shadow: 1px 1px 5px #e4030300; */
  }
  
  .background-About::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0000009f;
  }
  
  .background-About h1 {
    z-index: 99;
    font-size: 60px;
    font-weight: 600;
    color: aliceblue;
  }
  .heading {
    text-align: center;
    font-size: 42px;
    margin-top: 20px;
  }
  
  .container-text {
    /* height: 500px; */
    width: 100%;
    /* background-color: rgb(146, 144, 156); */
    /* display:flex; */
    align-items: center;
    justify-content: center;
  }
  .container-text p {
    line-height: 1.5em;
    word-spacing: 4.2px;
    font-size: 18px !important;
    margin: 12px;
    padding: 20px;
  }
  
  .section {
    width: 100%;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 12px;
    /* margin: 2px; */
  }
  
  .text-photo {
    /* margin-right: 22px ; */
    margin: 12px;
    font-size: 17px;
    padding: 12px;
    width: 50%;
  }
  
  /* second section */
  
  .second-section {
    width: 100%;
    /* background-color: tomato; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 50px; */
    padding: 12px;
    /* margin: 2px; */
  }
  
  @media screen and (max-width: 880px) {
    .section{
      flex-direction: column;
    }
    .second-section {
      flex-direction: column-reverse;
    }
    .text-photo {
      width: 100%;
      font-size: 22px;
    }
    }