.dest-main-container{

    width: 80%;
    margin: 0px auto;
}
.dest-main-container h1{
     margin: 20px 0px;    
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.div-dest{
    margin-bottom: 20px;
    
}
.dest-img{
    padding: 10px;
}
.dest-11{
    width: 45%;
    margin: 30px;
    display: inline-block;
   
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 20px;
}
.dest-11 :hover{
    box-shadow: 0px 0px 5px 0px rgba(248, 60, 60, 0.5);
    border-radius: 20px;
    cursor: pointer;
}
@media(max-width:500px){
    .div-dest {
     width: 100%;
    }
     
    .dest-main-container h1{
        font-size: 20px;
    }
    .dest-11 {
        width: 100%;
        margin: 10px 0px;
    }
}
@media screen and (min-device-width: 501px) and (max-device-width: 768px){
    .dest-11 {
        width: 40%;
       
    }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1440px){
    .dest-11 {
        width: 40%;
       
    }
}