*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.our-work-container{

    width: 80%;
    margin: 0px auto;
}
.work-heading{
    margin: 30px 0px;
    text-align: center;
    font-size: 36px;
}
.work-para{
    text-align: center;
    font-size: 15px;
}
.our-work-section{
    width: 80%;
    margin: 0 auto;
  
}
.our-work-img{
    width: 32%;
    margin: 30px 5px;
    height: 550px;
    display: inline-flex;
    background-image: url('https://shaandaarevents.com/wp-content/uploads/2023/06/Untitled-design-16-9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-work-img:hover .work-inner{
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 900;
    width: 100%;
    border-radius: 10px;
   
}

.work-inner{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  
}
.work-head{
    color: transparent;
   
   
}
 .work-inner .para-link {
    color: transparent;
 margin: 25px 0px;
  text-align: center;
    
}
.our-work-img:hover .work-head {
   
    color: white ;
}
.our-work-img:hover .para-link {
   
    color: white ;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.our-work-section-1{
    display: flex;
    width: 80%;
    margin: 0px auto;
}






@media (max-width: 500px){
    .our-work-section {
        width: 100%;
       
    }
    .our-work-container {
        width: 100%;
        
    }
    .our-work-img{
        width: 43%;
        height: 215px;
        display: inline-block;
        margin: 20px 13px;
    }
}
@media screen and (min-device-width: 500px) and (max-device-width: 768px){
    .our-work-section {
        width: 100%;
       
    }
    .our-work-container {
        width: 100%;
        
    }
    .our-work-img{
        width: 46%;
        height: 250px;
        display: inline-block;
        margin: 20px 12px;
    }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1440px){
   
    .our-work-img {
        width: 48%;
    }
  
}
