*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.stories-heading h1{
    font-size: 36px;
    font-family: sans-serif;
    text-align: center;
    margin: 30px 0px;

}
.stories-sec-1{
    width: 80%;
    margin: 10px auto;
    
}
.stories-img{
    display: inline-block;
    width: 31%;
    margin: 10px 10px;
}
.img-cont{
    display: inline-block;
}
.stor-img{
    width: 22%;
    margin: 0px 10px;
    display: inline-block;
}

@media(max-width: 500px){
    .stories-img {
        display: inline-block;
        width: 95%;
      }
      
      .stories-heading h1 {
          font-size: 25px;
      }
      .stor-img {
        width: 43%;
        margin: 10px 10px;
      }
      .vid-section {
        display: inline-block !important;
    }
    .vid-1 {
      width: 50% !important;
      display: inline-block !important;
  }
}
@media screen and (min-device-width: 501px) and (max-device-width: 768px){
    
    
    .stories-img {
        display: inline-block;
        width: 44%;
      }
      .stor-img {
        width: 21%;
      }

      .stories-img h2{
        font-size: 20px;
      }

}
@media screen and (min-device-width: 769px) and (max-device-width: 1024px){
   
    .stories-img{
      width: 47%;
    }
    .stor-img {
      width: 22%;
     
  }
  .service-main .service-grid {
   
    grid-template-columns: auto auto;
  
}
  
  }

  @media(max-width: 1024px){


    .vid1-img {
     
      height: 100%  !important;
      width: 100% !important;
     
  }


  }



 
.st-img{
  color: black;
}


  .vid-main{

 
    width:  95%;
    margin:  0px auto;
  }

 .vid-section{
  display: flex;
 }
 .vid-1{
  width: 25%;
  z-index: 0;
  
 }
.vid-cont{
  position: relative;
 
}
.vid-cont video{
  z-index: 0;
}


.vid-1 video{
  z-index: -1;
}
 .vid1-img{

  position: absolute;
  top: 0%;
  /* background-image: url("../Component/Images/wadding2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 378px;
  width: 240px;
  z-index: 111111111111111111;
}
  

.vid-cont:hover  .vid1-img{
  display: none;
}
 





