.testimoniols-main-section{
    width: 80%;
    margin: 20px auto;
    display: flex;
 
    
}
.testimoniol-inner{
    width: 100%;
    margin: 50px;
    display: flex;
}
.testimoniol-img-box{
    width: 33%;
    display: flex;
    
    position: relative;
}
.testimoniol-img-div{
    width: 100%;
}
.testimoniol-para {
    background-color: #ff000000;
   
    height: 522px;
    background: rgba(255, 0, 0, 0);
   position: absolute;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    overflow: hidden;
    transition: all .6s ease-in-out;
    cursor: pointer;
    width: 10%;
    padding: 50px 0px;
  
}
.testimoniol-para p{
    margin: 68px 0px 102px;
    /* font-size: 14px; */
    font-size: 1px;
    padding: 0px 10px 0px;
}
.testimoniol-para h1{
    margin: 30px 0px 20px;
}
.testimoniol-content{
    width: 33.33%;
}
.testimoniol-img-box{
   text-align: center;
  
    margin: 30px;
  
}
.testimoniol-img-box h3{

    color: #000000;
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 0.75em;
    padding: 1.2em 0 0;
}

.testimoniol-img-box:hover .testimoniol-para{
   
    color: white;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    background-color: #000000DB;
    padding: 0px 0px;
    width: 100%;
}
.testimoniol-img-box:hover .testimoniol-para p{
      font-size: 15px;
      padding: 30px 20px;
      
}

