.testimonial {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    
  }
 
  .react-multi-carousel-list  {
   
    margin: 30px 0px;
  }
  .img-section{
    text-align: center;
    margin-top: 30px;
  }
  .test-div1 {
    box-shadow: 2px 2px 5px rgb(79, 79, 79);
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 25rem;
    padding: 20px 20px;
    margin: 20px 20px;
    border-radius: 20px;
  }
  .userdetails {
    display: flex;
  }
  .imgbox {
    margin-right: 1rem;
  }
  .imgbox img {
    border-radius: 50%;
    width: 2rem;
    border: 2px solid #000000;
  }
  .detbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detbox .name {
    color: hsl(0, 0%, 0%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
  }
  .detbox .name.dark {
    color: #000000;
  }
  .detbox .designation {
    color: hsl(0, 0%, 0%);
    font-size: 0.8rem;
  }
  .detbox .designation.dark {
    color: #000000;
  }
  .review h4 {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0.8rem;
  }
  .review.dark h4 {
    color: #000000;
  }
  
  @media only screen and (max-width: 1000px) {
    .innerdiv {
      transform: scale(0.7);
    }
  }
  @media only screen and (max-width: 800px) {
    .innerdiv {
      transform: scale(0.6);
    }
  }
  @media only screen and (max-width: 600px) {
    img.google-img {
      width: 34%;
  }
    .test-div1 {
      background-position-x: 10rem;
    }
  }